<html>
<head>
	<title>Create | Page</title>
	<link rel="stylesheet" type="text/css" href="/css/add.css">
</head>
<body>
<h1> Add New Employee</h1>

	<form method="post">
		<table>
		
			<tr>
				<td>Name</td>
				<td><input type="text" name="name"  id="name" /></td>
			</tr>
			<tr>
				<td>Contact No.</td>
				<td><input type="text" name="contact" id="contact"  /></td>
			</tr>
			<tr>
				<td>User Name</td>
				<td><input type="text" name="username" id="username" /></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" id="password"/></td>
			</tr>
			<tr>
				<td><br><br></td>
				<td>
				<input type="submit" id="submit"  value="Save" />
				<a style="text-decoration:none" href="/home"> Home</a>
				
				</td>
				
			</tr>

		</table>
	</form>
</body>
</html>