input[type=text],[type=password]  {
    width: 338px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #3c723e;
    border: none;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}