
table {
    border-collapse: collapse;
    width: 500px;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}


input[type=text] {
    width: 338px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 4px;
}



a:link, a:visited {
    background-color: #3c723e;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #4CAF50;
}
