<html>
<head>
	<title>Delete Product | Page</title>
</head>
<body>
	<form method="post">
		<input type="hidden" name="id" value="<%=id %>"/>
		<br/><br/><br/>
		<table>
			<tr>
				<td>Are you sure?</td>
				<td></td>
			</tr>
			<tr>
				<td><input type="submit" value="Yes" name="yes"/></td>
				<td><input type="submit" value="No" name="no"/></td>
			</tr>
			
		</table>
	</form>
</body>
</html>