<html>
<head>
	<title>Delete | Page</title>
	<link rel="stylesheet" type="text/css" href="/css/dlt.css">
</head>
<body>
	<form method="post">
		<input type="hidden" name="id" value="<%=id %>"/>
		<br/><br/><br/>
		<table>
			<tr>
				<td><p>Are you sure?</p></td>
				<td></td>
			</tr>
			<tr><td><br></td></tr>
			<tr>
				<td><input type="submit" value="Yes" name="yes"/></td>
				<td><input type="submit" value="No" name="no"/></td>
			</tr>
			
		</table>
	</form>
</body>
</html>