<html>
<head>
	<title>Add Product | Page</title>
	<link rel="stylesheet" type="text/css" href="/css/add.css">
</head>
<body>
<h1> Add New Product</h1>

	<form method="post">
		<table>
			<tr>
				<td>Product Name</td>
				<td><input type="text" name="name" /></td>
			</tr>
			<tr>
				<td>Quantity</td>
				<td><input type="text" name="quantity" /></td>
			</tr>
			<tr>
				<td>Price</td>
				<td><input type="text" name="price" /></td>
			</tr>
			<tr>
				<td></td>
				<td>
				<input type="submit" value="Submit" />
				<a style="text-decoration:none" href="/home"> Home</a>
				
				</td>
			</tr>
		</table>
	</form>
</body>
</html>