<html>
<head>
	<title>Registration | Page</title>
	<link rel="stylesheet" type="text/css" href="/css/registration.css">
	<script type="text/javascript" src="/js/check.js"></script>
</head>
<body>
<h1>Registration</h1>
	<form method="post" >
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name"  id="name" /></td>
			</tr>
			<tr>
				<td>Contact No.</td>
				<td><input type="text" name="contact" id="contact" /></td>
			</tr>
			<tr>
				<td>User Name</td>
				<td><input type="text" name="username" id="username" /></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" id="password" /></td>
			</tr>
			<tr>
				<td>Confirm password</td>
				<td><input type="password" name="cpassword" id="cpassword" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Register" /></td>
			</tr>
		</table>
	</form>
	<p>Back to <a href="/login">Login</a></p>
</body>
</html>